body{
  background-color: lightgrey;
}

p {
  color: black;
}

a{
  color:black;
}

a:hover {
    cursor:grab;
}

p:hover {
  cursor: grab;
}

.btn-warning{
  margin-left: 381px!important;
  margin-top: 50px!important;
  width: 200px!important;
  height: 100px!important;
  color: black;
  font-size: 26px;
  font-weight: 500;
  padding-top: 29px;
}

h1{
  margin-left: 200px;
}

input[type=text], input[type=password] {
  width: 50%;
  font-size: 10px;
  padding: 12px 32px;
  margin-bottom: 20px;
}

input[type=file]{
  margin-bottom: 20px;
}

textarea {
  border: 2px solid #f6f6f6;
  background-color: #f6f6f6;
  width: 50%;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 20px;
  margin: 5px;
}

.navbar-inverse{
  height: 113px;
}

#left_container{
  height: auto;
  width: 500px;
  margin-left: 200px;
  margin-top: 50px;
}

#right_container{
  height: auto;
  width: 301px;
  margin-left: 950px;
  margin-top: -490px;
}

#generate_button{
  margin-right: 640px;
  position: relative;
  top: 50px;
}

.page-footer{
  background-color: grey;
  height: 75px;
  margin-top: 66px;
  position: relative;
  top: 200px;
}

.footer-copyright{
  padding-top: 28px;
}

#main-container{
   width: 500px;
   padding-top: 1px;
   padding-bottom: 43px;
   background-color: white;
   border-radius: .25rem;
}

.moduleStart{
  background-color: grey;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 59px;
  border-radius: .25rem;
}

 .module1{
   background-color: grey;
   height: 100px;
   width: 400px;
   margin-top: 40px;
   margin-left: 41px;
   padding-top: 38px;
   padding-left: 59px;
   border-radius: .25rem;
}
.module2{
  background-color: grey;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
  border-radius: .25rem;
}
.module3{
  background-color: grey;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
  border-radius: .25rem;
}
.module4{
  background-color: grey;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
  border-radius: .25rem;
}
.module5{
  background-color: grey;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
  border-radius: .25rem;
}
.module6{
  background-color: grey;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
  border-radius: .25rem;
}

.module7{
  background-color: grey;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
  border-radius: .25rem;
}

.module8{
  background-color: grey;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
  border-radius: .25rem;
}

.module9{
  background-color: grey;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
  border-radius: .25rem;
}

.module10{
  background-color: grey;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
  border-radius: .25rem;
}
.show-modules {
  width: 300px;
  /*padding-left: 43px;*/
  /*margin-top: -20px;*/
  /*font-weight: bold;*/
  /*text-align: center;*/
  margin-bottom: 15px;
}

#conf-module1{
  position: relative;
  left: 700px;
  top: -425px;
  display: none;
  background-color: gray;
  width: 500px;
  height: 200px;
  margin-bottom: 10px;
  background-color: white;
}

#calendar_module{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: gray;
  width: 500px;
  height: 200px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

#conf-module3{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

#conf-module4{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

#conf-module5{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}
#conf-module6{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: white;
  width: 500px;
  height: 430px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

#conf-module7{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

#conf-module8{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

#conf-module9{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

#conf-module10{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

#start-module{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: gray;
  width: 500px;
  height: 400px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

#costume-module{
  position: relative;
  left: 700px;
  top: -1580px;
  display: none;
  background-color: gray;
  width: 500px;
  height: 231px;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px;
}

/*#generate_button{
  position: relative;
  display: none;
}*/

#costume-module input[type=text]{

}

#costume-module textarea{
  width: 500px;
  height: 91px;

}

img{
  width: 100%;
}

.events{
  margin-left: 21px;
  margin-top: -15px;
}

#currentPage .navbar{
  position: relative;
  margin-top: -20px;
  top: -20px;
}

.navbar{
  margin-bottom: 45px;
}

.navbar-right {
    float: right!important;
    margin-right: -15px;
    margin-top: -67px;
}

.navbar-brand {
    margin-left: -15px;
    padding-right: 391px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    margin-top: 4px;
}

.loggedIn{
  color: #9d9d9d;
  margin-left: 954px;
  margin-top: 16px;
}

button {
  background-color: #222;
  color: #9d9d9d;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 18px;
}

#interface_generate_button{
  width: 30%;
}

#interface_generate_button .text{
  width: 100%;
  margin-left: 80px;
}

#interface_generate_button .btn-warning{
  margin-left: 175px!important;
}

#interface_personal_button{
  width: 30%;
  margin-left: 461px;
  margin-top: -216px;
}

#interface_personal_button .text{
  width: 101%;
  margin-left: 80px;
}

#interface_personal_button .btn-warning{
  margin-left: 175px!important;
}

#interface_manage_button{
  width: 30%;
  margin-left: 66%;
  margin-top: -17%;
}

#interface_manage_button .text{
  width: 100%;
  margin-left: 80px;
}

#interface_manage_button .btn-warning{
  margin-left: 175px!important;
}

#module_container .left{
  width: 30%;
}

#module_container .right{
  width: 30%;
}

#module_container .startModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .s_text{
  display: none;
}

#module_container .costumeModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .c_text{
  display: none;
}

#module_container .events{
  margin-left: 0px;
  margin-top: 0px;
}



#module_container .calendarModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .k_text{
  display: none;
}

#module_container .newsModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .galleryModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .g_text{
  display: none;
}

#module_container .workersModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .w_text{
  display: none;
}

#module_container .anfahrtModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .a_text{
  display: none;
}

#module_container .classesModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .cl_text{
  display: none;
}

#module_container .signupModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .su_text{
  display: none;
}

#module_container .impressum{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .i_text{
  display: none;
}

#module_container .n_text{
  display: none;
}

#currentPage{
  width: 44%;
  margin-left: 765px;
  margin-top: -400px;
  background-color: white;
}

#currentPage .page_main{

}

#currentPage .page_custome{
  display: none;

}

#currentPage .page_calendar{
  display: none;
}
#page_news{
  display: none;
}

#currentPage .page_gallery{
  display: none;
}

#currentPage .page_workers{
  display: none;
}

#currentPage .page_anfahrt{
  display: none;
}

#currentPage .page_classes{
  display: none;
}

#currentPage .page_signup{
  display: none;
}

#currentPage .page_impressum{
  display: none;
}

#currentPage .interface_container{
  width: 100%
}

#page_news .title{
  background-color: white;
  width: 60%;
}

#page_news .date{
  background-color: white;
  width: 30%;
  position: relative;
  left: 425px;
  top: -30px;
}

#page_news .text{
  background-color: white;
  width: 60%;
  position: relative;
  top: -30px;
  height: 200px;

}

#currentPage .currentPage_footer{
  margin-top: -500px!important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(101, 161, 223);
  min-width: 147px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
