body{
  background-color: lightgrey;
}

p {
  color: black;
}

a{
  color:black;
}

a:hover {
    cursor:grab;
}

p:hover {
  cursor: grab;
}

.btn-warning{
  margin-left: 381px!important;
  margin-top: 50px!important;
  width: 200px!important;
  height: 100px!important;
  color: black;
  font-size: 26px;
  font-weight: 500;
  padding-top: 29px;
}

h1{
  margin-left: 200px;
}

.navbar-inverse{
  height: 113px;
}

#left_container{
  height: auto;
  width: 500px;
  margin-left: 200px;
  margin-top: 50px;
}

#right_container{
  height: auto;
  width: 301px;
  margin-left: 950px;
  margin-top: -490px;
}

#generate_button{
  margin-right: 640px;
  position: relative;
  top: 50px;
}

.page-footer{
  background-color: grey;
  height: 75px;
  margin-top: 66px;
  position: relative;
  top: 200px;
}

.footer-copyright{
  padding-top: 28px;
}

#main-container{
   width: 500px;
   padding-top: 1px;
   padding-bottom: 43px;
   background-color: wheat;
}

 .module1{
   background-color: white;
   height: 100px;
   width: 400px;
   margin-top: 40px;
   margin-left: 41px;
   padding-top: 38px;
   padding-left: 59px;
}
.module2{
  background-color: white;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
}
.module3{
  background-color: white;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
}
.module4{
  background-color: white;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
}
.module5{
  background-color: white;
  height: 100px;
  width: 400px;
  margin-top: 40px;
  margin-left: 41px;
  padding-top: 38px;
  padding-left: 61px;
}
.show-modules {
  width: 500px;
  padding-left: 43px;
  margin-top: -20px;
  font-weight: bold;
}

#conf-module1{
  position: relative;
  left: 700px;
  top: -425px;
  display: none;
  background-color: gray;
  width: 500px;
  height: 200px;
  margin-bottom: 10px;
  background-color: white;
}

#calendar_module{
  position: relative;
  left: 700px;
  top: -744px;
  display: none;
  background-color: gray;
  width: 500px;
  height: 200px;
  margin-bottom: 10px;
  background-color: white;
}

#conf-module3{
  position: relative;
  left: 700px;
  top: -744px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
}

#conf-module4{
  position: relative;
  left: 700px;
  top: -744px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
}

#conf-module5{
  position: relative;
  left: 700px;
  top: -744px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
}
#conf-module6{
  position: relative;
  left: 700px;
  top: -744px;
  display: none;
  background-color: white;
  width: 500px;
  height: 230px;
  margin-bottom: 10px;
  background-color: white;
}

#costume-module{
  position: relative;
  left: 700px;
  top: -744px;
  display: none;
  background-color: gray;
  width: 500px;
  height: 231px;
  margin-bottom: 10px;
  background-color: white;
}

#costume-module input[type=text]{

}

#costume-module textarea{
  width: 500px;
  height: 91px;

}

img{
  width: 100%;
}

.events{
  margin-left: 21px;
  margin-top: -19px;
}

#currentPage .navbar{
  position: relative;
  margin-top: -20px;
  top: -20px;
}

.navbar{
  margin-bottom: 45px;
}

.navbar-right {
    float: right!important;
    margin-right: -15px;
    margin-top: -67px;
}

.navbar-brand {
    margin-left: -15px;
    padding-right: 391px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    margin-top: 4px;
}

.loggedIn{
  color: #9d9d9d;
  margin-left: 954px;
  margin-top: 16px;
}

button {
  background-color: #222;
  color: #9d9d9d;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 18px;
}

#interface_generate_button{
  width: 30%;
}

#interface_generate_button .text{
  width: 100%;
  margin-left: 80px;
}

#interface_generate_button .btn-warning{
  margin-left: 175px!important;
}

#interface_personal_button{
  width: 30%;
  margin-left: 461px;
  margin-top: -216px;
}

#interface_personal_button .text{
  width: 101%;
  margin-left: 80px;
}

#interface_personal_button .btn-warning{
  margin-left: 175px!important;
}

#interface_manage_button{
  width: 30%;
  margin-left: 66%;
  margin-top: -17%;
}

#interface_manage_button .text{
  width: 100%;
  margin-left: 80px;
}

#interface_manage_button .btn-warning{
  margin-left: 175px!important;
}

#module_container{

}

#module_container .left{
  width: 30%;
}

#module_container .right{
  width: 30%;
}

#module_container .costumeModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .c_text{
  display: none;
}

#module_container .events{
  margin-left: 0px;
  margin-top: 0px;
}



#module_container .calendarModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .k_text{
  display: none;
}

#module_container .newsModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .galleryModule{
  background-color: gray;
  width: 34%;
  height: 120px;
  margin-bottom: 20px;
}

#module_container .g_text{
  display: none;
}

#module_container .n_text{
  display: none;
}

#currentPage{
  width: 42%;
  margin-left: 800px;
  margin-top: -400px;
  background-color: floralwhite;
}

#currentPage .page_main{

}

#currentPage .page_custome{
  display: none;

}

#currentPage .page_calendar{
  display: none;
}
#page_news{
  display: none;
}

#currentPage .page_gallery{
  display: none;
}

#page_news .title{
  background-color: white;
  width: 60%;
}

#page_news .date{
  background-color: white;
  width: 30%;
  position: relative;
  left: 425px;
  top: -30px;
}

#page_news .text{
  background-color: white;
  width: 60%;
  position: relative;
  top: -30px;
  height: 200px;

}

#page_news .row{
  background-color: white;
  position: relative;
  width: 30%;
  left: 440px;
  top: -230px;
  height: 200px;
}

#currentPage .currentPage_footer{
  margin-top: -500px!important;
}
