binput.form-control {
  width: 80%;
  margin-bottom:20px;
  padding: 20px;
}

.title {
  color: white;
  left: 50%;
  font-size: 25px;
}

.abstand {
  /*margin-top: 50px;*/
  text-align: center;
}

hr {
  background-color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

body{
  background-image: url("Images/elementary-school-788902_1920.jpg")!important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
